<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/toby_spring" />
        <property name="username" value="spring" />
        <property name="password" value="password" />
    </bean>

    <bean id="userDao" class="io.ggammu.study.tobyspringframework.user.domain.UserDaoJdbc">
        <property name="dataSource" ref="dataSource" />
        <property name="userRowMapper"  ref="rowMapper" />
    </bean>

    <bean id="rowMapper"
          class="io.ggammu.study.tobyspringframework.user.domain.UserRowMapper" />

    <bean id="message" class="io.ggammu.study.tobyspringframework.factorybean.Message">
        <constructor-arg name="text" value="test" />
    </bean>

    <bean id="mailSender" class="io.ggammu.study.tobyspringframework.user.domain.DummyMailSender" />

    <bean id="userService"
          class="io.ggammu.study.tobyspringframework.service.user.UserServiceImpl">
        <property name="userDao" ref="userDao" />
        <property name="mailSender" ref="mailSender" />
    </bean>

    <bean id="transactionManger"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

    <bean id="transactionPointcut"
          class="io.ggammu.study.tobyspringframework.jdk.proxy.NameMatchClassMethodPointcut">
        <property name="mappedClassName" value="*NotServiceImpl" />
        <property name="mappedName" value="upgrade*" />
    </bean>

    <bean id="testUserService"
          class="io.ggammu.study.tobyspringframework.user.domain.UserServiceTest$TestUserServiceImpl"
          parent="userService" />
    
    <aop:config>
        <aop:pointcut id="transactionPointcut" expression="execution(* *..*ServiceImpl.upgrade*(..))"/>
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPointcut" />
    </aop:config>
</beans>