<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql//localhost/toby_spring" />
        <property name="username" value="spring" />
        <property name="password" value="password" />
    </bean>

    <bean id="connectionMaker" class="io.ggammu.study.tobyspringframework.user.domain.DConnectionMaker" />

    <bean id="userDao" class="io.ggammu.study.tobyspringframework.user.domain.UserDao">
        <property name="connectionMaker" ref="dataSource"></property>
    </bean>

</beans>